<footer class="footer">
    <div class="footer-helper">
        <div class="container">
            <div class="social">
                <div class="social__text">
                    <p>поделиться</p>
                </div>
                <div class="social__icon">
                    <div class="addthis_inline_share_toolbox"></div>
                </div>
            </div>
            <ul class="footer-menu">
                <li><a target="_blank" href="https://ru.mondelezinternational.com/legal-notices">пользовательское
                    соглашение</a></li>
                <li><a target="_blank" href="https://ru.mondelezinternational.com/privacy-policy">политика
                    конфиденциальности</a></li>
                <li><a target="_blank" href="https://ru.mondelezinternational.com/privacy-policy">политика cookies</a>
                </li>
                <li><a target="_blank" href="https://ru.mondelezinternational.com/contact-us/contact-us-form">обратная
                    связь</a></li>
            </ul>
            <div class="text-footer">
                ООО «Мон’Дэлис Русь». Часть группы компаний Mondelēz International Все права защищены.
            </div>
        </div>
        <div class="footer-logo">
            <a href="#">
                <img src="img/logo-footer.png" alt="">
            </a>
        </div>
    </div>
</footer>