<!-- Cookies -->
<!--<div class="cookies">-->
<!--<div class="container">-->
<!--<div class="cookies__text">-->
<!--<p>Мы используем технологию «cookies», чтобы упростить навигацию на нашем сайте. Чтобы принять политику-->
<!--“сookies” нажимите кнопку ниже или продолжите навигацию по сайту. Чтобы узнать больше о том, как мы-->
<!--используем “сookies”, <a href="#">нажмите здесь</a></p>-->
<!--</div>-->
<!--<a href="#" class="btn btn&#45;&#45;min">Принять</a>-->
<!--</div>-->
<!--</div>-->

<!-- Popup -->
<div class="popup buy">
    <div class="popup__wrap">
        <img src="img/exit-popup.svg" alt="" class="popup__close js-close-popup">
        <div class="popup__header">
            <div class="title title--big">
                <p>Покупайте новинку Milka Oreo <br> онлайн здесь</p>
            </div>
            <img src="img/popTop.png" alt="">
        </div>
        <div class="popup__bottom">
            <!--<a href="#" class="popup__market">-->
                <!--<img src="img/ozon.png" alt="">-->
            <!--</a>-->
            <a href="https://www.utkonos.ru/item/54/149723816" target="_blank" class="popup__market">
                <img src="img/utkonos.png" alt="">
            </a>
            <!--<a href="#" class="popup__market">-->
                <!--<img src="img/komus.png" alt="">-->
            <!--</a>-->
            <!--<a href="#" class="popup__market">-->
                <!--<img src="img/ashan.png" alt="">-->
            <!--</a>-->
            <a target="_blank" href="https://www.perekrestok.ru/catalog/hleb-sladosti-sneki/shokolad-batonchiki/milka-shok-oreo-m-vk-vanpech92g--512985?searchPhrase=milka" class="popup__market">
                <img src="img/perekrestok.png" alt="">
            </a>
            <img class="popup__bottom-bg" src="img/popBottom.png" alt="">
        </div>
    </div>
</div>

<!-- new link -->
<a href="index.html" class="new-link">
    <img src="img/new-link.svg" alt="">
</a>