<!--Scripts-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a8d3889047b6c4a"></script>
<script src="js/library.min.js"></script>
<script src="js/app.js"></script>