// Button ---------------------
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-out;
  outline: none;
  border: none;
  letter-spacing: 1.3px;
  line-height: 16px;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  z-index: 2;

  &--min {
    width: 137px;
    height: 45px;

    &::before {
      content: '';
      position: absolute;
      background: url("../img/knopka_01.svg") no-repeat top;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  &--min-m {
    width: 260px;
    height: 45px;

    &::before {
      content: '';
      position: absolute;
      background: url("../img/knopka_04.svg") no-repeat top;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  &--min-b {
    width: 260px;
    height: 45px;

    &::before {
      content: '';
      position: absolute;
      background: url("../img/knopka_05.svg") no-repeat top;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  &--medium {
    width: 234px;
    height: 60px;
    font-size: 17px;

    &::before {
      content: '';
      position: absolute;
      background: url("../img/knopka_02.svg") no-repeat top;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  &--big {
    width: 287px;
    height: 60px;
    font-size: 17px;

    &::before {
      content: '';
      position: absolute;
      background: url("../img/knopka_03.svg") no-repeat top;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  &:hover {
    padding-left: 10px;
  }
}

// Html
html {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 50%;
    min-height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #7d68ac;
    z-index: -1;
  }
}

.main {
	display: block;
	overflow: hidden;
}

// Title
.title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  line-height: 35px;

  &--big {
    font-size: 45px;
    letter-spacing: 0.9px;
    line-height: 55px;
  }
}

.text {
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.34px;
  margin: 15px auto 0;

  &--min {
    letter-spacing: 0.26px;
    line-height: 16px;
    font-size: 13px;
  }

  &--max-w {
    max-width: 630px;
  }

  &--max-w-min {
    max-width: 235px;
  }

  &--max-w-big {
    max-width: 870px;
  }
}

// Mob Show
.mob-show {
  display: none;
}

// Head Section
.head {
  position: relative;
  overflow: hidden;
  padding-bottom: 210px;

  &__introduction {
    padding: 30px 0 50px;
    position: relative;

    &Img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 20px;
      z-index: -1;
      
    }
  }

  &__enticement {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -70px;
    right: -60px;
    transition: all .2s ease-out;

    img {
      margin-top: 15px;
    }
  }

  &__wish {
    text-align: center;
    width: 292px;
    height: 227px;
    background: url("../img/shape-2.svg") no-repeat top;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 400px;
    left: -90px;
    z-index: 2;
    transition: all .2s ease-out;

    img {
      width: 24px;
      height: 22px;

    }
  }

  &__product {
    text-align: center;
    position: relative;
    margin-top: -20px;
    transition: all .2s ease-out;

    img {
      pointer-events: none;
    }
  }

  &__productName {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
  }

  &__productText {
    white-space: nowrap;
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 0.65px;

    &:nth-child(1),
    &:nth-child(3) {
      margin-top: 72px;
    }

    & + .head__productText {
      margin-left: 10px;
    }
  }

  &__down {
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
	bottom: 100px;
	text-align: center;

    img {
		width: 48px;
		height: 31px;
    }

    p {
      font-size: 18px;
      color: #ffffff;
      letter-spacing: 0.52px;
	  margin-top: 5px;
	  font-weight: 700;
    }
  }

  &__refer {
    position: absolute;
    right: 80px;
    bottom: 175px;
    font-size: 15px;
    letter-spacing: 0.59px;
  }
}

// how-friend
.how-friend {
  padding-top: 95px;
  padding-bottom: 75px;

  & .head__introductionImg {
	top: -110px;
  }

  &__element {
	top: 75px;
    right: -120px;
	
	img {
		margin-top: -35px;
	}

	&_product {
		top: auto;
		left: auto;
		right: -175px;
    	bottom: -300px;

		img {
			margin-top: 15px;
		}
	}
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
	margin-left: 14px;
	margin-top: 20px;

    .milka {
      width: 156px;
      height: 75px;
    }

    .and {
      width: 31px;
      height: 34px;
      margin: 0 10px;
    }

    .oreo {
      width: 165px;
    }
  }

  &__title {
    position: relative;
    margin-top: 95px;

    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -85px;
      z-index: -1;
      pointer-events: none;
      width: 1180px;
    }
  }

  &__slider {
    margin-top: 20px;
    padding-bottom: 65px;
  }

  .shape-left {
    position: absolute;
    left: -120px;
    top: -220px;
    width: 89px;
    height: 87px;
  }

  .shape-right {
    width: 283px;
    height: 195px;
    position: absolute;
    bottom: 75px;
    left: -430px;
  }

  & .head__down {
	bottom: 90px;

	p {
		color: #4d3c75;
	}
  }
}

.how-friend-heading {
	position: relative;
}

.swiper-video {
  position: relative;
  width: 675px;
  margin: 0 auto;
  background-color: #000000;

  .swip-video {
    position: absolute;
    max-width: none;
    z-index: 2;
    top: -29px;
    left: -98px;
    pointer-events: none;
  }

  .swiper-slide {
    opacity: 0 !important;
    transition: all .2s linear;

    &-active {
      opacity: 1 !important;
      transition: all .2s linear .1s;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    outline: none;
    background: none;
    width: auto;
    height: auto;

    p {
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.26px;
      margin-top: 20px;
    }
  }

  .swiper-button-disabled {
    opacity: 1;
    pointer-events: visible;
    cursor: pointer;
  }

  .swiper-button-prev {
    text-align: right;
    left: -190px;
  }

  .swiper-button-next {
    right: -190px;
  }

  .shape-left {
    position: absolute;
    left: -370px;
    top: 0;
    width: 89px;
    height: 87px;

    &-big {
		width: 283px;
		height: 195px;
		position: absolute;
		bottom: -140px;
		left: 145%;
    }
  }
}

.thumb-wrap {
  position: relative;
  padding-bottom: 51.6%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  & img {
	width: 100%;
	top: -16.82%;
	left: 0;
	opacity: 0.7;
	position: absolute;
	cursor: pointer;
  }
}

.thumb-wrap iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.thumb-wrap .play-button {
	width: 90px;
	height: 60px;
	background-color: #333;
	box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
	z-index: 1;
	opacity: 0.8;
	border-radius: 6px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d( -50%, -50%, 0 );

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d( -50%, -50%, 0 );
		border-style: solid;
		border-width: 15px 0 15px 26.0px;
		border-color: transparent transparent transparent #fff;
	}
}

.revert {
  transform: rotate(180deg);
}

// Test Home
.home-test {
  margin-top: 130px;
  overflow: hidden;

  &__title {
    position: relative;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px;

    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      z-index: -1;
      pointer-events: none;
      width: 1110px;
      max-width: none;
    }

    .btn {
      margin-top: 25px;
    }
  }

  &__milkaSay {
    position: relative;

    img {
      width: 360px;
    }

    span {
      font-size: 30px;
      letter-spacing: 0.6px;
      position: absolute;
      top: 50%;
      left: calc(50% + 20px);
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }
  }

  &__milka,
  &__oreo {
    display: flex;
    align-items: flex-start;
  }

  &__milkaPhoto {
    margin-top: 65px;
  }

  &__friends {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__oreoSay {
    position: relative;
    margin-top: 60px;
    margin-right: -30px;

    img {
      width: 420px;
    }

    span {
      font-size: 30px;
      letter-spacing: 0.6px;
      position: absolute;
      top: 50%;
      left: 44%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  &__oreoPhoto {
    margin-top: 40px;
  }
}

// Stikers
.stikers {
  margin-top: 170px;
  text-align: center;
  padding-bottom: 130px;

  &__title {
    position: relative;

    .stikers__mainShape {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -130px;
      z-index: -1;
      pointer-events: none;
      width: 800px;
    }

    .btn {
      margin-top: 25px;
    }
  }

  &__shape-l {
    position: absolute;
    width: 383px;
    top: -315px;
    left: -250px;
  }

  &__shape-r {
    position: absolute;
    width: 164px;
    height: 156px;
    bottom: -150px;
    right: 0;
  }

  &__text {
    font-size: 30px;
    line-height: 35.14px;
    letter-spacing: 0.6px;
  }

  &__stik {
    margin-bottom: 40px;
  }
}

// Test Page -----------------------
.test-logo {
  margin-top: 40px;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    position: relative;

    &-photo {
      display: flex;
      align-items: center;
    }

    .btn {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .milka {
      width: 156px;
      height: 75px;
    }

    .and {
      width: 31px;
      height: 34px;
      margin: 0 10px;
    }

    .oreo {
      width: 165px;
    }
  }

  &.active {

    .btn {
      display: inline-flex;
    }
  }
}

.testing {
  padding-top: 130px;
  overflow: hidden;

  &.hide {
    display: none;
  }

  &__card {
    display: none;
    pointer-events: none;

    &.active {
      display: block;
      pointer-events: visible;
    }

    &:nth-child(1) {

      .testing__answerCard {

        &:nth-child(1) {

          .testing__photo {
            background: url("../img/q1_a1_v0.jpg") no-repeat center / cover;
          }
        }

        &:nth-child(2) {

          .testing__photo {
            background: url("../img/q1_a2_v1.jpg") no-repeat center / cover;
          }
        }
      }
    }

    &:nth-child(2) {

      .testing__answerCard {

        &:nth-child(1) {

          .testing__photo {
            background: url("../img/q2_a2_v1.jpg") no-repeat center / cover;
          }
        }

        &:nth-child(2) {

          .testing__photo {
            background: url("../img/q2_a1_v0.jpg") no-repeat center / cover;
          }
        }
      }
    }

    &:nth-child(3) {

      .testing__answerCard {

        &:nth-child(1) {

          .testing__photo {
            background: url("../img/q3_a1_v0.jpg") no-repeat center / cover;
          }
        }

        &:nth-child(2) {

          .testing__photo {
            background: url("../img/q3_a2_v1.jpg") no-repeat center / cover;
          }
        }
      }
    }

    &:nth-child(4) {

      .testing__answerCard {

        &:nth-child(1) {

          .testing__photo {
            background: url("../img/q4_a2_v1.jpg") no-repeat center / cover;
          }
        }

        &:nth-child(2) {

          .testing__photo {
            background: url("../img/q4_a1_v0.jpg") no-repeat center / cover;
          }
        }
      }
    }

    &:nth-child(5) {

      .testing__answerCard {

        &:nth-child(1) {

          .testing__photo {
            background: url("../img/q5_a1_v0.jpg") no-repeat center / cover;
          }
        }

        &:nth-child(2) {

          .testing__photo {
            background: url("../img/q5_a2_v1.jpg") no-repeat center / cover;
          }
        }
      }
    }

    &:nth-child(6) {

      .testing__answerCard {

        &:nth-child(1) {

          .testing__photo {
            background: url("../img/q6_a2_v1.jpg") no-repeat center / cover;
          }
        }

        &:nth-child(2) {

          .testing__photo {
            background: url("../img/q6_a1_v0.jpg") no-repeat center / cover;
          }
        }
      }
    }

    &:nth-child(7) {

      .testing__answerCard {

        &:nth-child(1) {

          .testing__photo {
            background: url("../img/q7_a1_v0.jpg") no-repeat center / cover;
          }
        }

        &:nth-child(2) {

          .testing__photo {
            background: url("../img/q7_a2_v1.jpg") no-repeat center / cover;
          }
        }
      }
    }
  }

  &__title {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.6px;
    text-align: center;
    position: relative;

    img {
      max-width: none;
      width: 800px;
      position: absolute;
      top: 50%;
      left: 52%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    p {
      max-width: 540px;
      margin: 0 auto;
    }
  }

  &__answers {
    display: flex;
    align-items: flex-start;
    margin-top: 130px;
    padding-bottom: 20px;
  }

  &__answerCard {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 35px;

    &--left {
      justify-content: flex-start;
      padding-right: 0;
      padding-left: 35px;
    }

    &:nth-child(1) {

      .testing__photo {
        transform: rotate(-2deg);
      }
    }

    &:nth-child(2) {

      .testing__photo {
        transform: rotate(2deg);
      }
    }
  }

  &__answerSelect {
    text-align: center;
    cursor: pointer;
  }

  &__photo {
    width: 315px;
    height: 0;
    padding-bottom: 100%;
    margin-top: 15px;
    border: 2px solid #ffffff;
  }
}

.milkaAndOreo {
  margin-top: -215px;
  padding-bottom: 50px;

  &.hide {
    display: none;
  }

  &__wrap {

    img {
      width: 310px;
    }
  }
}

.result {
  padding-top: 85px;
  padding-bottom: 200px;
  overflow: hidden;

  &.active {
    display: block;
  }

  &__title {
    position: relative;

    img {
      position: absolute;
      top: 59%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 870px;
      max-width: none;
      z-index: -1;
    }

    .text {
      max-width: 645px;
    }
  }

  &__wrap {
    display: flex;
  }

  &__card {
    width: calc((100% / 3) - 1px);
    height: 430px;
    position: relative;
  }

  .res-new {
    position: absolute;
    max-width: none;
    right: -27%;
    top: -28%;
  }

  .res-new-desc {
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 0.26px;
    position: absolute;
    text-align: center;
    right: 16%;
    top: 23%;

    img {
      position: absolute;
      max-width: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      width: 215px;
    }
  }

  .res-bicycle {
    position: absolute;
    max-width: none;
    left: -17%;
    bottom: -7%;
  }

  .stik {
    text-align: center;
    position: absolute;
    left: 71px;
    bottom: -40px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: none;
      transform: translate(-50%, -50%);
      z-index: -1;
      width: 361px;
    }

    p {
      font-size: 17px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 0.34px;
      margin-bottom: 15px;
    }
  }

  .follow {
    position: absolute;
    text-align: center;
    right: 0;
    top: -75px;

    .social__text {
      font-weight: 700;
    }

    .social__icon {
      margin-top: 20px;
    }

    .social__icon .at-share-btn:nth-child(n+2) {
      margin-left: 13px;
    }

    .follow-img {
      position: absolute;
      top: 57%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: none;
      width: 300px;
      z-index: -1;
    }

    .at-icon-wrapper {
      background-color: #fff !important;

      svg {
        fill: #44c8f5 !important;
      }
    }
  }
}

.at-resp-share-element .at-share-btn {
	outline:none;
}

// Errors---------------------------------------------------------------
.status-error {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 70px;

	&__img {
		margin: 0 auto;
		max-width: 560px;
		position: relative;

		&_text {
			position: absolute;
			top: 70px;
			right: 0;
			font-family: $fontBT;
			font-size: 42px;
		}

		img {
			max-height: 370px;
		}
	}

	&__text {
		margin-top: 20px;
		font-size: 25px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
	}

	&_server {
		
		.status-error__img {
			max-width: none;

			img {
				max-height: 400px;
				position: relative;
    			left: 72px;
			}
		}
	}
}