.container {
  width: 100%;
  padding: 0 15px;
  max-width: 1305px;
  margin: 0 auto;

  &--big {
    max-width: 1430px;
  }

  &_error {
	padding: 30px 15px;
	overflow-x: hidden; 
  }
}

.flex-cont {
  display: flex;
  flex-wrap: nowrap;
}

.justify-sb {
  justify-content: space-between;
}

.justify-sa {
  justify-content: space-around;
}

.flex-d-column-rev {
  flex-direction: column-reverse;
}

.justify-c {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.icon {
  display: inline-block;
}