@font-face {
  font-family: 'PT Sans Caption';
  src: url('../fonts/PTSans-Caption.eot');
  src: url('../fonts/PTSans-Caption.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PTSans-Caption.woff2') format('woff2'),
  url('../fonts/PTSans-Caption.woff') format('woff'),
  url('../fonts/PTSans-Caption.ttf') format('truetype'),
  url('../fonts/PTSans-Caption.svg#PTSans-Caption') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Bold.eot');
  src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Bold.woff2') format('woff2'),
  url('../fonts/GothamPro-Bold.woff') format('woff'),
  url('../fonts/GothamPro-Bold.ttf') format('truetype'),
  url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro.eot');
  src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro.woff2') format('woff2'),
  url('../fonts/GothamPro.woff') format('woff'),
  url('../fonts/GothamPro.ttf') format('truetype'),
  url('../fonts/GothamPro.svg#GothamPro') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'centschbkcyrill_btbold';
    src: url('../fonts/tt6806m_-webfont.eot');
    src: url('../fonts/tt6806m_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tt6806m_-webfont.woff2') format('woff2'),
         url('../fonts/tt6806m_-webfont.woff') format('woff'),
         url('../fonts/tt6806m_-webfont.ttf') format('truetype'),
         url('../fonts/tt6806m_-webfont.svg#centschbkcyrill_btbold') format('svg');
    font-weight: normal;
    font-style: normal;
}