.footer {
  margin-top: 100px;
  padding-top: 25px;
  position: relative;
  z-index: 1;
  background: url("../img/footer.png") no-repeat top;
  background-size: cover;
}

.footer-helper {
  padding-top: 100px;
  text-align: center;
}

.social {
  width: 100%;

  &__text {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    padding-top: 55px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      background: url("../img/icon-h.svg") no-repeat center center;
      background-size: cover;
      width: 75px;
      height: 72px;
    }
  }

  &__icon {
    margin-top: 35px;

    .at-share-btn {

      &:nth-child(n+2) {
        margin-left: 25px;
      }
    }
  }
}

.footer-menu {
  padding-top: 75px;

  li {
    display: inline-block;
    margin: 0 20px 0 22px;

    a {
      font-size: 13px;
      letter-spacing: 1.3px;
      text-transform: uppercase;
    }

    &:nth-child(n+2) {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 4px;
        bottom: 1px;
        left: -28px;
        width: 1px;
        background-color: #ffffff;
      }
    }
  }
}

.text-footer {
  font-size: 13px;
  letter-spacing: 1.3px;
  margin-top: 20px;
  line-height: 16px;
}

.footer-logo {
  margin-top: 20px;
  padding-top: 5px;
  background-color: #ffffff;

  img {
    max-height: 70px;
  }
}