@media only screen and (max-width: 1650px) {
	.head__wish {
		top: 360px;
    	left: -7px;
	}

	.how-friend__element {
		transform: scale(0.8);
		top: 15px;
    	right: -65px;
		
		&_product {
			top: auto;
    		left: auto;
			right: -60px;
    		bottom: -300px;
		}
	}
}

@media only screen and (max-width: 1299px) {

  .footer-menu li:nth-child(n+2):after {
    display: none;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;

    li + li {
      margin-top: 10px;
    }
  }

  .head {

	&__introduction {
		padding: 15px 0 50px;

		&Img {
			top: 15px;
		}
	}

    &__product {
	  transform: scale(.7);
	  margin-top: -95px;
    }

    &__wish {
		top: 325px;
		left: -25px;
		transform: scale(.8);
    }

    &__enticement {
	  top: -95px;
      right: -40px;
      transform: scale(.8);
    }

    &__productName {
      top: 15px;
    }

    &__down {
      bottom: 130px;
    }

    &__refer {
      right: 55px;
      bottom: 159px;
    }
  }

  .how-friend {
	padding-top: 95px;

	& .shape-left {
		left: -250px;
		top: -375px;
	}
  }

  .how-friend__element {
	top: 80px;
	right: -85px;
	
	img {
		transform: scale(0.8);
	}
	
	&_product {
		transform: scale(1.2);
		top: auto;
		left: auto;
		right: -60px;
		bottom: -345px;

		img {
			transform: scale(1);
		}
	}
}

  .swiper-video .swiper-button-next {
    right: -140px;
  }

  .swiper-video .swiper-button-prev {
    left: -140px;
  }

  .new-link {
    top: -84px;
    left: -75px;
  }

  .home-test  {
	margin-top: 20px;
  }

  .home-test__milkaPhoto,
  .home-test__oreoPhoto {
    width: 200px;
  }

  .footer__nav a {
    font-size: 11px;
  }

  .footer__author {
    font-size: 10px;
  }

  .home-test__milkaSay span,
  .home-test__oreoSay span {
    font-size: 23px;
  }

  .milkaAndOreo {
    margin-top: 0;

    &__wrap {
      justify-content: center;
    }
  }

  .result .res-new {
    max-width: 200%;
    right: -36%;
    top: -12%;
  }

  .result .res-new-desc {
    right: 4%;
  }

  .result .res-bicycle {
    max-width: 149%;
    left: -9%;
    bottom: auto;
    top: 59%;
    transform: translateY(-50%);
  }

  .result .follow {
    right: 10%;
    top: -45px;
    transform: scale(.7);
  }

  .result .stik {
    left: 50px;
    bottom: 38px;
    transform: scale(.7);
  }
}

@media only screen and (max-width: 991px) {

  .test-logo {
    margin-top: 20px;

    &__logo {
      transform: scale(.7);
    }
  }

  .test-logo .btn {
    top: calc(100% + 15px);
    right: auto;
    left: 50%;
    transform: translateY(0) translateX(-50%);
  }

  .result {
    padding-top: 150px;

    &__wrap {
      flex-direction: column;
    }

    &__card {
      width: 100%;
      height: auto;
      text-align: center;
    }
  }

  .result .res-new {
    max-width: 100%;
    position: static;
  }

  .result .res-new-desc {
    right: 14%;
  }

  .result .res-bicycle {
    max-width: 100%;
    position: static;
    transform: translateY(0);
  }

  .result .follow {
    position: static;
    transform: scale(1);
    margin-top: 50px;
  }

  .result .stik {
    position: static;
    transform: scale(1);
    margin-top: 150px;
  }

  .head__introductionImg {
    max-width: none;
  }

  .new-link {
    transform: scale(.6);
    left: -86px;
  }

  .title {
    font-size: 25px;
    line-height: 30px;
  }

  .text {
    line-height: 18px;
    font-size: 13px;
    letter-spacing: 0.67px;
  }

  .head__introduction {
    padding: 30px 0;
  }

  .head__enticement {
	display: none;
    position: static;
    transform: scale(1);
    text-align: center;
    margin-top: 50px;

    img {
      display: none;
    }
  }

  .head__product {
    transform: scale(1);
    margin-top: 40px;
  }

  .head__productText {
    font-size: 10px;
    line-height: 14px;
  }

  .head__productName {
    top: 22px;
  }

  .head__productText:nth-child(1), .head__productText:nth-child(3) {
    margin-top: 52px;
  }

  .head__down {
    display: none;
  }

  .head {
    padding-bottom: 30px;
  }

  .head__refer {
    right: auto;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .how-friend__title {
	margin-top: 45px;
  }

  .how-friend__slider {
	margin-top: 20px;
  }

  .head__wish {
    display: none;
  }

  .mob-show {
    display: block;
    text-align: center;
    margin-top: 50px;

    .head__wish {
      display: flex;
      position: static;
      margin: 20px auto 0;
      transform: scale(1);
    }
  }

  .shape-left,
  .shape-right {
	  display: none;
  }

  .how-friend {
	  overflow: hidden;

	  .head__introductionImg {
		  max-width: 820px;
	  }
  }

  .how-friend-heading {

	.head__enticement {
		display: block;
	}
  }

  .how-friend__title img {
    max-width: none;
  }

  .how-friend__slider {
    padding-bottom: 200px;
  }

  .swiper-video .swiper-button-next,
  .swiper-video .swiper-button-prev {
    top: calc(100% + 83px);
    margin-top: 0;
  }

  .swiper-video .swiper-button-next {
    right: 32%;
  }

  .swiper-video .swiper-button-prev {
    left: 32%;
  }

  .popup__bottom {
    margin: 120px auto 0;
  }

  .popup__header img {
    top: -120px;
    max-width: none;
    width: 900px;
  }

  .home-test__friends {
    flex-direction: column;
    margin-top: 50px;
  }

  .home-test__oreo {
    justify-content: flex-end;
  }

  .home-test__milkaPhoto, .home-test__oreoPhoto {
    width: auto;
  }

  .stikers__text {
    font-size: 22px;
    line-height: 27px;
  }

  .footer__nav a {
    line-height: 14px;
    margin-top: 10px;

    & + a {
      margin-left: 0;
    }
  }

  .footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

    br {
      display: none;
    }
  }

  .footer__nav a + a::before {
    display: none;
  }

  .testing__photo {
    width: 250px;
  }

  // Errors---------------------------------------------------------------
  .status-error {

	&_server {
			
		.status-error__img {

			img {
				left: 0px;
			}
		}
	}
  }
}

@media only screen and (max-width: 767px) {

  .result .res-new-desc {
    display: none;
  }

  .milkaAndOreo__wrap img {
    width: 50%;
  }

  .testing__title {
    font-size: 20px;
    line-height: 24px;
  }

  .testing__answerCard {
    padding-right: 10px;

    &--left {
      padding-left: 10px;
      padding-right: 0;
    }
  }

  .head__productText {
    white-space: normal;
    font-size: 8px;
    width: 33%;
    max-width: 200px;

    br {
      display: none;
    }
  }

  .head__productName {
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
  }

  .head__product {
    margin-top: 90px;
  }

  .head__down {
    display: none;
  }

  .how-friend {

	.head__introductionImg {
		max-width: 910px;
	}
  } 

  .stikers__title .stikers__mainShape {
    max-width: none;
  }

  .stikers {
    overflow: hidden;
  }

  .popup__header img {
    top: -85px;
  }

  .popup__market {
    padding: 0 40px;
    width: calc((100% / 2) - 1px);
  }

  .popup__bottom-bg {
    top: -123px;
    max-width: none;
    width: 800px;
  }

  .popup__bottom {
    margin: 112px auto 0;
  }

  .swiper-video {
    width: 500px;
  }

  .swiper-video .swip-video {
    top: -17px;
    width: 629px;
    left: -65px;
  }

  .swiper-video .swiper-button-next {
    right: 28%;
  }

  .swiper-video .swiper-button-prev {
    left: 28%;
  }
}

@media only screen and (max-width: 599px) {

  .loader {

    &__logo {

      .milka,
      .oreo {
        width: 200px;
      }

      .and {
        width: 20px;
        margin: 0 10px;
      }
    }
  }

  .testing__photo {
    width: 200px;
  }

  .popup.buy .popup__wrap {
    margin-top: 50px;
  }

  .popup__bottom-bg {
    top: -95px;
  }

  .head__productName {
    top: -28px;
  }

  .popup__header {

    .title {
      font-size: 15px;
      line-height: 18px;
    }
  }

  .popup__header img {
    top: -63px;
  }

  .popup__close {
    right: 29px;
  }

  .how-friend__slider {
	padding-bottom: 120px;
  }

  .swiper-video {
    width: 290px;
  }

  .swiper-video .swip-video {
    top: -8px;
    width: 378px;
    left: -44px;
  }

  .swiper-video .swiper-button-next {
    right: 19%;
  }

  .swiper-video .swiper-button-prev {
    left: 19%;
  }

  .swiper-video .swiper-button-next,
  .swiper-video .swiper-button-prev {
    transform: scale(.7);
    top: calc(100% + 35px);
  }

  .home-test__milkaPhoto, .home-test__oreoPhoto {
    width: 184px;
  }

  .popup__market {
    width: 49%;

    & + .popup__market {
      margin-top: 10px;
    }
  }

  .buy .popup__wrap {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      height: 100vh;
      left: -30px;
      right: -30px;
      background-color: #fff;
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 50%;
      height: 100vh;
      left: -30px;
      right: -30px;
      background-color: #4e3976;
      z-index: -1;
    }
  }

  .popup__bottom {
    z-index: 2;
  }

  // Errors-------------------------------------------------------
  .status-error__img_text {
	  display: none;
  }
}

@media only screen and (max-width: 479px) {

  .loader {

    &::before {
      box-shadow: 0 0 0 100vh rgb(78, 57, 117);
    }

    &__logo {

      .milka,
      .oreo {
        width: 100px;
      }

      .and {
        width: 10px;
        margin: 0 5px;
      }
    }
  }

  .testing__photo {
    width: 130px;
  }

  .test-logo__logo .milka {
    width: 125px;
    height: auto;
  }

  .test-logo__logo .and {
    width: 20px;
  }

  .test-logo__logo .oreo {
    width: 130px;
  }

  .test-logo__logo {
    transform: scale(.7);
    margin-left: 0;
  }

  .popup__market {
    padding: 0 20px;
    width: 51%;
  }

  .home-test__milkaPhoto, .home-test__oreoPhoto {
    width: 95px;
  }

  .home-test__milkaSay span, .home-test__oreoSay span {
    font-size: 18px;
  }

  .home-test__milkaSay span {
    left: calc(50% + 5px);
  }

  .footer__socialTitle {
    font-size: 12px;
    line-height: 15px;
  }

  .how-friend {

	.head__introductionImg {
		top: -60px;
	}
  } 

  .head__product {
    transform: scale(1.4);
    margin-top: 150px;
    padding-bottom: 50px;
  }

  .head__productText {
    font-size: 5px;
    line-height: 8px;
    width: 26%;
  }

  .head__introduction {
    span {
      display: none;
    }
  }

  .head__productName {
    top: -17px;
  }

  .head__productText:nth-child(1), .head__productText:nth-child(3) {
    margin-top: 22px;
  }

  .head__productText + .head__productText {
    margin-left: 0;
  }

  .head__refer {
    bottom: 20px;
    font-size: 10px;
  }

  .head__wish {
    width: 270px;

    .text {
      line-height: 16px;
      font-size: 11px;
    }
  }

  .head__enticement {
	margin-top: 25px;
  }

  .how-friend__logo {
    margin-left: 0;
    transform: scale(.7);
  }

  .how-friend__slider {
	margin-top: 10px;
  }

  .head__introduction {
    padding: 15px 0 30px;
  }

  .head__introductionImg {
    top: 5px;
  }

  .popup {
    padding: 20px 10px 10px;
  }

  .popup__header .title {
    font-size: 10px;
    line-height: 13px;
  }

  .popup__header img {
    top: -45px;
  }

  .popup__bottom {
    margin: 68px auto 0;
  }

  .popup__bottom-bg {
    top: -16vw;
  }

  .how-friend__slider {
    margin-top: 30px;
  }

  .home-test__title {
    padding-top: 40px;
  }

  .btn--medium,
  .btn--big {
    transform: scale(.7);
  }

  .home-test {
    margin-top: 50px;
  }

  // Errors-------------------------------------------------------
  .status-error {
	margin-top: 40px;
	margin-bottom: 40px;

	&__text {
		line-height: 28px;
	}
  }
}