// Cookies -----------
//.cookies {
//  position: fixed;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  width: 100%;
//  background-color: $cookieBg;
//  padding: 25px 0 20px;
//  text-align: center;
//  transition: all .2s linear;
//  opacity: 0;
//  z-index: -1;
//
//  &__text {
//    margin: 0 auto 10px;
//    width: 76%;
//    font-size: 14px;
//  }
//
//  &.js-show {
//    opacity: 1;
//    z-index: 99;
//  }
//}

// Popup -------------
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: -1;
  opacity: 0;
  transition: all .2s linear;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 50px 30px 30px;

  &__close {
    position: absolute;
    top: -20px;
    right: 50px;
    width: 23px;
    height: 23px;
    cursor: pointer;
  }

  &__wrap {
    max-width: 1060px;
    width: 100%;
    position: relative;
    transition: all .2s linear;
    transform: translateY(50px);
  }

  &.buy {

    .popup__wrap {
      margin-top: 150px;
    }
  }

  &__header {
    position: relative;

    img {
      position: absolute;
      top: -140px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      pointer-events: none;
    }
  }

  &__bottom {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    width: 100%;
    margin: 120px auto 0;
  }

  &__bottom-bg {
    position: absolute;
    top: -130px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    pointer-events: none;
  }

  &__market {
    width: calc((100% / 3) - 1px);
    text-align: center;
    padding: 0 20px;
  }
}

// Show
.js-popup-show {
  z-index: 99999;
  opacity: 1;

  .popup__wrap {
    transform: translateY(0);
  }
}

// New Link
.new-link {
  display: inline-block;
  position: absolute;
  top: -75px;
  left: -60px;
  overflow: hidden;
  width: 225px;
  height: 170px;
  border-radius: 0 0 129px 0;
  z-index: 1;

  img {
    width: 272px;
    max-width: initial;
  }
}

// Loader
.loader {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 999;
  background: linear-gradient(to left, #44c8f5 50%, #7d68ac 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .8s linear 1.5s;

  &__logo {
    display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

    .milka,
    .oreo {
      width: 250px;
    }

    .and {
      width: 40px;
	  margin: 0 15px;
    }
  }
  
  &__new {
	  text-align: center;
	  width: 100%;
	  position: relative;
	  z-index: -1;
  }

  .new-text {
	  max-width: 300px;
	  width: 100%;
	  padding: 10px 30px;
	  background: linear-gradient(135deg, #db280e 40%,#6d0019 100%);
	  margin: 0 auto;
	  font-size: 32px;
	  text-transform: uppercase;
	  transform: rotateZ(-4deg);
	  font-weight: 700;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 150px 200px 350px 150px / 160px 250px 150px 200px;
    transform: translate(-50%, -50%) scale(1);
    background-color: transparent;
    box-shadow: 0 0 0 100vw rgb(78, 57, 117);
    transition: all 1.5s ease-in;
  }

  &.active {
    top: auto;
    bottom: 100%;

    &::before {
      width: 350px;
      height: 250px;
      transform: translate(-50%, -50%) scale(10);
    }
  }

  &.del {
    z-index: -1;

    &::before {
      transition: none;
      box-shadow: none;
    }
  }
}